*{
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
}

.header{
    width: 100%;
    height: 80px;
    opacity: 0.8;
    position: fixed;
    display: flex;
    background-color: black;
}

.logo{
    width: 30%;
    font-size: 35px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar{
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar a{
    text-decoration: none;
    text-align: center;
    padding: 0 100px;
    font-size: 23px;
    color: white;
}

.navbar a:hover{
    text-decoration: underline;
}

.content{
    height: 100vh;
    display: flex;
    justify-content: center;
}

.content img{
    width: 100%;
    height: 100vh;
}

.text{
    text-align: center;
    font-size: 80px;
    font-weight: bold;
    position: absolute;
    top: 22%;
    color: #401706;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.text_1, .text_2{
    font-size: 23px;
    padding-top: 50px;
    color: #401706;
}

.contact{
    font-size: 23px;
    font-weight: bold;
    position: absolute;
    top: 70%;
    color: #401706;
    display: flex;
}

.contact a{
    margin: 0 20px;
    padding: 10px 50px;
    text-decoration: none;
    text-align: center;
    color: white;
    background-color: #f3700d;
    border: 5px solid #f3700d;
    border-radius: 40px;
}

.contact a:hover{
    color: #401706;
}

.footer{
    height: 150px;
    font-size: 23px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #333333;
}

.footer .social_media{
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer .social_media img{
    padding: 20px 20px;
    width: 40px;
}